﻿﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    @Html.Sitecore().VisitorIdentification()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        function login() {
            return $.ajax({
                url: '/myvincent/vincent/api/v1/member/Post',
                headers: {
                    'Cache-Control': 'no-cache, no-store, must-revalidate'
                },
                cache: false,
                dataType: 'json',
                data: 'vincent',
                type: 'POST',
                contentType: 'application/json',
                success: function (data) {
                    if (data) {
                        document.getElementById("userName").innerHTML = data;
                    }
                }
            });

        }
    </script>
</head>
<body>
    <div id="divNavigation"></div>
    <h1>@Html.Sitecore().Field("title")</h1>
    <h2 style="text-align:right; color: darkblue" id="userName"></h2>
    <button onclick="login()">Login</button>
    <br />
    <div style="width: 100px; height: 50px" id="divResult"></div>

    <div>
        @Html.Sitecore().Placeholder("main")
    </div>
</body>
</html>
