﻿﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    @Html.Sitecore().VisitorIdentification()
    <link rel="stylesheet" href="/Assets/css/main.dfca195d.chunk.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var MyToyotaAjax = {
            //member ajax calls
            GetCurrentUser: function (args) {
                args = args || {};
                return $.ajax({
                    url: 'vincent/api/v1/member/Get',
                    headers: {
                        'Cache-Control': 'no-cache, no-store, must-revalidate'
                    },
                    cache: false,
                    dataType: 'json',
                    type: 'GET',
                    contentType: 'application/json'
                });
            }
        };

        function getCurrentUser() {
            return $.ajax({
                url: 'vincent/api/v1/member/Get',
                headers: {
                    'Cache-Control': 'no-cache, no-store, must-revalidate'
                },
                cache: false,
                dataType: 'json',
                type: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    if (data) {
                        document.getElementById("userName").innerHTML = data;
                    }
                }
            });
        }

    </script>
</head>
<body>
    <div id="divNavigation"></div>
    <h2 style="text-align:right; color: darkblue" id="userName"></h2>
    <button onclick="getCurrentUser()">Get User</button>

    <div style="width: 100px; height: 50px" id="divResult"></div>
    <div id="divMain"></div>
</body>
</html>
