﻿@inherits System.Web.Mvc.WebViewPage
﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

@Html.Sitecore().Placeholder("main-react-content")
<div id="divMain"></div>
<script src="/Assets/js/2.chunk.js" type="text/javascript"></script>
<script src="/Assets/js/main.chunk.js" type="text/javascript"></script>
<script src="/Assets/js/runtime-main.js" type="text/javascript"></script>