﻿@inherits System.Web.Mvc.WebViewPage
<script type="text/javascript">
    $(document).ready(function () {
        return $.ajax({
            url: 'vincent/api/v1/mock/GetSession',
            headers: {
                'Cache-Control': 'no-cache, no-store, must-revalidate'
            },
            cache: false,
            dataType: 'json',
            data: { key: 'mydata' },
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                if (data) {
                    document.getElementById("divResult").innerHTML = data;
                }
            }
        });
    })
</script>
<p style="margin: 10px; font-size: 14px; color:darkblue; font-family: Arial, Helvetica, sans-serif" id="divResult"></p>
<div id="divMain"></div>