﻿@inherits System.Web.Mvc.WebViewPage
<script type="text/javascript">
    $(document).ready(function () {
        return $.ajax({
            url: 'vincent/api/v1/mock/get',
            headers: {
                'Cache-Control': 'no-cache, no-store, must-revalidate'
            },
            cache: false,
            dataType: 'json',
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                if (data) {
                    document.getElementById("mockDiv").innerHTML = data;
                }
            }
        });
    })
</script>
<div id="mockDiv">

</div>