﻿@inherits System.Web.Mvc.WebViewPage
<script type="text/javascript">
    function SetSession() {
        return $.ajax({
            url: 'vincent/api/v1/mock/SetSession',
            headers: {
                'Cache-Control': 'no-cache, no-store, must-revalidate'
            },
            cache: false,
            data: { key: 'mydata', value: 'hey hey' },
            dataType: 'json',
            type: 'POST',
            contentType: 'application/json'
        });
    }
</script>
<button onclick="SetSession()">Set Session Now</button>
